.chart {
	font-family: Arial, sans-serif;
	font-size: 10px;
	margin: 20px 20px 15px 5px;
}

#fact_map {
	margin-left:4em;
}
.axis path{
	fill: none;
	/* stroke: #000; */
	shape-rendering: crispEdges;
}

.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.error {
	fill: gray;
	stroke: gray;
}

body {
    background-color: #eee;
}

.tooltip {
	position: absolute;
	text-align: left;
	width: 95px;
	height: 45px;
	padding: 3px;
	font: 10px sans-serif;
	background: white;
	color: darkgray;
	pointer-events: none;
}

.tooltip h1 {
	font: 12px sans-serif;
	color: steelblue;
	padding: 0;
	margin: 0;
}

section {
    margin-bottom: 2em;
}


.spotlight   h3 {
	margin-top: 0.2em;
}
.spotlight   p {
	margin-right: 2em;
}
.spotlight .row img {
	display: block;
    padding: 1em;
	/*width: 300px;*/
}

.banner {
	background-color: #224;
	color: #eee;
	padding-top: 6em;
	margin-bottom: 0;
	padding-bottom: 6em;
}

.banner p {
    margin-right: 13em;
    padding-left: 3em;
}

.banner h2 {
	border-right: thin solid #eee;
	font-size: 50pt;
	text-align:right;
	padding-right:2.2em;
}

.spotlight {
    background-color: white;
    margin-bottom: 1.2em;
}


#intro {
    background-color: white;
    padding-top: 6em;
    /* padding-left: 5em; */
}

#intro td{
    padding: 7px 25px;
}

.wide100 {
    max-width: 100%;
}
.wide90 {
    max-width: 90%;
}
.wide80 {
    max-width: 80%;
}

#footer {
	color:#eee;
	background-color:#444;
	margin:-0.6em;
	padding:0;
}