<!DOCTYPE HTML>

<html>
	<head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Live results of the FACT Cherenkov Telescope">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

		<!--<script src="assets/js/bundle.js"></script>-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>-->
        <!--<script src="http://cdn.intercoolerjs.org/intercooler-0.9.6.min.js"></script>-->
        <!--<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>-->


        <script src="assets/js/bundle.js"></script>
		<link rel="stylesheet" href="assets/css/nomralize.css" />
		<link rel="stylesheet" href="assets/css/skeleton.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/js/node_modules/c3/c3.min.css" />
	</head>
	<body>

		<!-- Banner -->
			<section class="banner wide100">
                <div class="container wide80">
                    <div class="row">
                        <div class="one-half column">
                            <h2>FACT RTA</h2>
                        </div>
                        <div class="one-half column">
                            <p> This page collects live data from the FACT telescope.
                                It display current data rates and event counts.
                                A few selected events from the camera are also shown
                            </p>
                        </div>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="intro">
                <div class="container">
                    <div class="row">
				    <section id="eventinfo" class="one-half column">
						<h2>Latest Event</h2>
						<p>
                            Here you see the latest gamma-like event found by our analysis chain.
                            It's selected by a multivariate model which has been trained offline on simulated labeled data.
                            Additionally, a cut in its reconstructed position has been performed.
                        </p>
                        <table>
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Properties</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Source</td>
                                <td id="source_name">...</td>
                            </tr>
                            <tr>
                                <td>Timestamp</td>
                                <td id="eventTimeStamp">...</td>
                            </tr>
							<tr>
								<td>Estimated Energy</td>
								<td id="energy">...</td>
							</tr>
							<tr>
								<td>Size</td>
								<td id="size">...</td>
							</tr>
							<tr>
								<td>Theta<sup>2</sup></td>
								<td id="theta_square">...</td>
							</tr>
                            </tbody>
                        </table>

					</section>
					<section id="camera" class="one-half column">
                        <div id="fact_map">

                        </div>
					</section>
                 </div>
				</div>
			</section>

		<!-- Two -->
			<section class="content">
				<div class="container">

                        <div class="row spotlight">
                            <div id="lightcurve" class=" figure two-thirds column">
                                <!--plot goes here-->
                            </div>
                            <div class="one-third column">
                                <h3>Excess Rates</h3>
                                <p>
                                    The plot shows excess rates of the currently analyzed source.
                                </p>
                            </div>
                        </div>

						<div class="row spotlight">
							<div class="figure two-thirds column" id="datarate_chart">
								<!-- Lecker data rate plot here -->
							</div>
							<div class="one-third column">
								<h3>Data rates</h3>
								<p>
									The current datarate of the RTA process is <span id="datarate"> ... </span> events per second.
									This  is not the FACT trigger rate but merely the number of events
									per second the RTA is analyzing after the DAQ finished writing all data to the disk.
								</p>
							</div>
						</div>

						<div class="row spotlight">
							<div id="memory_chart" class="figure two-thirds column">

							</div>
							<div class="one-third column">
								<h3>Machine status</h3>
								<p>Basic information about the machine running the RTA. It's running at the experiment site.  </p>
								<ul>
									<li>Free disk space on machine: <span id="space">...</span>&thinsp;GB</li>
									<li>Currently reserved memory:  <span id="memory">...</span>&thinsp;MB</li>
									<li>Reserved CPU cores: <span id="cpus">...</span></li>
								</ul>
							</div>
						</div>

						<div class="row spotlight">
							<div class="figure two-thirds column">
								<img id="allskycam" src="images/hex-loader2.gif" alt="Sky over La Palma" />
							</div>
							<div class="one-third column">
								<h3>Sky Image</h3>
								<p>Image of the sky over La Palma. This is fetched from the All-Sky-Camera near the GTC Telescope.</p>
								<a href="http://www.gtc.iac.es/multimedia/webcams.php" class="button alt">More Information</a>
							</div>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Orci malesuada</h2>
						<p>Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis pellentesque eget.</p>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-home"><a href="www.fact-project.org">www.fact-project.org</a></li>
							<li class="fa-git"><a href="https://github.com/fact-project">github.com/fact-project</a></li>
							<li class="fa-envelope"><a href="mailto:kai.bruegge@tu-dortmund.de">kai.bruegge(at)tu-dortmund.de</a></li>
							<li class="fa-university">TU Dortmund, Otto-Hahn-Straße 4a <br/>Dortmund, Germany</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; FACT RTA. Header Image: <a href="http://unsplash.com">Unsplash</a>. Design adapted from : <a href="http://templated.co">TEMPLATED</a>.
				</div>
			</footer>


	</body>
</html>