<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-0.9.3.min.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <p>Hello world! Datarate is </p>

          <span ic-poll="2s" ic-src="/datarate">
            This span will poll the server every two seconds...
          </span>
        <img src="img/fact.jpg" />
        <script src="js/main.js"></script>
    </body>
</html>
